{template 'common/header'}
{if $op == 'content'}
<div class="pull-right">
    <a href="{php echo $this->createWeburl('choujiang_fur', array('op'=>'post'));}"  class="btn btn-primary we7-padding-horizontal" style="margin-bottom: 20px">添加题目</a>
</div>
<style>
    .actives{
        background:#428BCA;
        color:#FFF;
    }
</style>
<form class="form-horizontal" action="" method="post" class="form1">
    <div class="pull-right col-sm-6">
        <div class="input-group" style="width:100%;">
            <input type="text" class="input-sm form-control" name="keyword" value="{$_GPC['keyword']}" placeholder="请输入题目进行搜索" style="height:34px">
            <span class="input-group-btn">
                <button class="btn btn-primary" type="submit"> 搜索</button>
            </span>
        </div>
    </div>
    <table class="table we7-table table-hover article-list vertical-middle">
        <tr>
            <th style="width: 50px;"><input type="checkbox"  onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});" name=''></th>
            <td style="width: 100px;">ID</td>
            <td>所属分类</td>
            <td>题目</td>
            <td class="text-right">操作</td>
        </tr>
        {loop $products $item}
        <tr>
            <td><input type="checkbox" value="{$item['id']}" name="deleteall[]"></td>
            <td>
                {$item['id']}
            </td>
            <td>
                {$item['category_title']}
            </td>
            <td>
                {$item['title']}
            </td>
            <td class="text-right">
                <a style="cursor:pointer;" data="{$item['id']}" class="btn btn-default btn-sm {if $item['status']==1} actives {/if}" onclick="setItemStatus(this,'index')">推送</a>
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('choujiang_fur', array('id' => $item['id'], 'op' =>'post'))}" >编辑</a>
                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('choujiang_fur', array('id' => $item['id'], 'op' => 'delete'))}">删除</a>
            </td>
        </tr>
        {/loop}
    </table>
    <table class="table">
        <tr>
            <td>
                <input class="btn btn-primary" type="submit" value="删除" name="submit" style="height: 30px;">
            </td>
        </tr>
    </table>
    <div style="margin:0 auto;margin-right: auto;vertical-align: middle;text-align: center;" >
        {$pager}
    </div>
</form>
<script type="text/javascript">
    $('.form1').submit(function(){
        if($(":checkbox[name='deleteall[]']:checked").size() > 0){
            return confirm('删除后不可恢复，您确定删除吗？');
        }
        return false;
    });
    function setItemStatus(obj,op){
        var id=$(obj).attr('data');
        if(op=='index'){
            $.ajax({
                type: 'post',
                dataType: 'json',
                url: "{php echo $this->createWebUrl('choujiang_fur',array('op' =>'index'))}",
                data: {id: id},
                success:function(result){
                    if(result.data==1){
                        $(obj).addClass('actives');
                    }else{
                        $(obj).removeClass('actives');
                    }
                }
            });
        }
    }
</script>
{/if}

<!-- 编辑新增 -->
{if $op == 'post'}
<form class="form-horizontal" action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">皮一下标题管理</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="control-label col-sm-1">所属类别</label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <select name="cj[category]" class="form-control ng-pristine ng-untouched ng-valid ng-empty" id="good_lb">
                        <option value="0" {if $item['category']==0} selected{/if}>实物</option>
                        <option value="1" {if $item['category']==1} selected{/if}>电子卡</option>
                        <option value="2" {if $item['category']==2} selected{/if}>红包</option>
                    </select>
                </div>
            </div> 

            <div class="form-group">
                <label for="" class="control-label col-sm-1">标题名称</label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="cj[title]" id="title" value="{$item['title']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-3 help-block">标题名称</div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="token" type="hidden" value="{$_W['token']}" />
            <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" style="margin-left: 45%;" />
        </div>
    </div>
</form>

{/if}
{template 'common/footer'}


