{template 'common/header'}

{if $op == 'content'}
<div class="pull-right">
    <a href="{php echo $this->createWeburl('choujiang_cheat', array('op'=>'post'));}"  class="btn btn-primary we7-padding-horizontal" style="margin-bottom: 20px">添加信息</a>
</div>

<form class="form-horizontal" action="" method="post" class="form1">
    <div class="form-group">
        <label for="" class="control-label col-sm-2" style="width:150px;margin-right:30px;text-align:left">是否开启骗审页面</label>
        <div class="form-controls col-sm-5">
            <input type="radio" name="cheat_status" value="0" class="onclick" {if $base['cheat_status'] == 0} checked="checked" {/if}> 否
            <input type="radio" name="cheat_status" value="1" class="onclick" {if $base['cheat_status'] == 1} checked="checked" {/if} style="margin-left:30px;"> 是 
            <input type="hidden" name="teshu" value="0" id="teshu">
            <input class="btn btn-primary" type="submit" value="修改" name="submit" style="height: 30px;margin-left:15px">
        </div>

    </div>
    <table class="table we7-table table-hover article-list vertical-middle">
        <tr>
            <th style="width: 50px;"><input type="checkbox"  onclick="var ck = this.checked;$(':checkbox').each(function(){this.checked = ck});" name=''></th>
            <td style="width: 100px;">ID</td>
            <td>标题</td>
            <td>图标</td>
            <td class="text-right">操作</td>
        </tr>
        {loop $products $item}
        <tr>
            <td><input type="checkbox" value="{$item['id']}" name="deleteall[]"></td>
            <td>
                {$item['id']}
            </td>
            <td>
                {$item['title']}
            </td>
            <td>
                <img src="{media $item['icon']}" width="100px" alt="">
            </td>
            <td class="text-right">
                <a class="btn btn-default btn-sm" href="{php echo $this->createWeburl('choujiang_cheat', array('id' => $item['id'], 'op' =>'post'))}" >编辑</a>
                <a class="btn btn-default btn-sm" onclick="return confirm('此操作不可恢复，确认吗？'); return false;" href="{php echo $this->createWeburl('choujiang_cheat', array('id' => $item['id'], 'op' => 'delete'))}">删除</a>
            </td>
        </tr>
        {/loop}
    </table>
    <table class="table">
        <tr>
            <td>
                <input class="btn btn-primary" type="submit" value="删除" name="submit" style="height: 30px;">
            </td>
        </tr>
    </table>
    <div style="margin:0 auto;margin-right: auto;vertical-align: middle;text-align: center;" >
        {$pager}
    </div>
</form>
<script type="text/javascript">
    $('.form1').submit(function(){
        if($(":checkbox[name='deleteall[]']:checked").size() > 0){
            return confirm('删除后不可恢复，您确定删除吗？');
        }
        return false;
    });
    $('.onclick').click(function(){
        $('#teshu').val(1);
    })
</script>
{/if}

<!-- 编辑新增 -->
{if $op == 'post'}
<form class="form-horizontal" action="" method="post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">骗审管理</h3>
        </div>
        <div class="panel-body">
            <div class="form-group">
                <label for="" class="control-label col-sm-1">标题</label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <input type="text" name="cj[title]" id="title" value="{$item['title']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-3 help-block">标题</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-1">图标</label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    {php echo tpl_form_field_image('cj[icon]', $item['icon'])}

                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-3 help-block">图标</div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-sm-1">内容</label>
                <div class="form-controls col-sm-5" style="margin-left: 75px;">
                    <textarea name="cj[content]" class="form-control" value="{$item['content']}" placeholder=''>{$item['content']}</textarea>
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-3 help-block">内容</div>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="token" type="hidden" value="{$_W['token']}" />
            <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" style="margin-left: 45%;" />
        </div>
    </div>
</form>

{/if}
{template 'common/footer'}


