{template 'common/header'}
{if $op == 'display'}
<style type="text/css">
    .mobannr{
        border:1px solid #e7e7eb;
    }
    .mb_title{
        margin-bottom: 30px;
    }
    .mb_title .mb_kjrq{
        color: #999;
        font-size: 12px;
    }
    .mb_body p span:first-child{
        display: inline-block;
        color: #999;
        margin-right: 20px;
    }
</style>
<form class="form-horizontal" action="" method="post" name="uploadfile"  enctype="multipart/form-data">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">参数设置<span style="color:#7E7E7E;font-size:13px;margin-left:10px">(谨慎设置，再次修改的时候，数量会覆盖原免费次数,默认 0 为不限制)</span></h3>
        </div>
        <div class="panel-body">

            <div class="form-group sponsordiv">
                <label for="" class="control-label col-sm-2" style="margin-right:45px">免费发布奖品次数</label>
                <div class="form-controls col-sm-5">
                    <input type="text" name="set[join_num]" value="{$item['join_num']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-3 help-block">用户免费发起抽奖次数</div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-sm-2" style="margin-right:45px">免费抽奖次数</label>
                <div class="form-controls col-sm-5">
                    <input type="text" name="set[smoke_num]" value="{$item['smoke_num']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-3 help-block">(【开/吧/源/码】默认 0 为不限制)</div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-sm-2" style="margin-right:45px">每人每月最多可中奖次数</label>
                <div class="form-controls col-sm-5">
                    <input type="text" name="set[winning_num]" value="{$item['winning_num']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-3 help-block">(默认 0 为不限制)</div>
            </div>

            <div class="form-group">
                <label for="" class="control-label col-sm-2" style="margin-right:45px">每日分享可获得抽奖次数</label>
                <div class="form-controls col-sm-5">
                    <input type="text" name="set[share_num]" value="{$item['share_num']}" class="form-control ng-pristine ng-untouched ng-valid ng-empty"  placeholder="" autocomplete="off">
                </div>
                <div class="col-sm-1"></div>
                <div class="form-controls col-sm-3 help-block">(默认 0 为不限制)</div>
            </div>

    </div>
    <div class="form-group">
        <div class="col-sm-12">
            <input name="token" type="hidden" value="{$_W['token']}" />
            <input type="submit" class="btn btn-primary col-lg-1" name="submit" value="提交" style="margin-left: 45%;" />
        </div>
    </div>
</form>
{/if}
{template 'common/footer'}
